<!-- This is the bit loaded by AJAX -->
<table class="coverage-table">
	<tr>
		<th>Transcript ID</th>
		<th style="width: 130px">Gene length</th>
		<th style="width: 130px">Coverage / base</th>
		<th style="width: 130px"><i>In vivo</i> structure?</th>
	</tr>
{% for row in transcript_data %}
	<tr class="transcript-row" data-transcript-id="{{ row["transcript_id"] }}">
		<td><a href="/transcript/{{ row["transcript_id"] }}">{{ row["transcript_id"] }}</a></td>
		<td>{{ row["gene_length"] }}</td>
		<td>{{ row["coverage"] }}</td>
		{% if row["has_structure"] %}<td class="yes">yes</td>{% else %}<td>-</td>{% endif %}
	</tr>
{% endfor %}
</table>
