<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script type="text/javascript" src="{{ settings.static_base_url }}/foldatlas/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="{{ settings.static_base_url }}/foldatlas/d3.v3.min.js"></script>

    <!-- FoldAtlas config and js -->
    <script type="text/javascript">
        window.foldatlasConfig = {
            staticBaseUrl: "{{ settings.static_base_url }}",
            appBaseUrl: "{{ settings.app_base_url }}"

        }
    </script>

    <script type="text/javascript" src="{{ settings.static_base_url }}/foldatlas/simplejsinheritance.js"></script>
    <script type="text/javascript" src="{{ settings.static_base_url }}/foldatlas/d3nome.js"></script>
    <script type="text/javascript" src="{{ settings.static_base_url }}/foldatlas/main.js"></script>
    
    <script type="text/javascript">

        $(document).ready(function () { 
            {% set chromosomes = genome_browser.get_chromosomes() %}

            window.browserController = new BrowserController(window.foldatlasConfig);

            window.d3nomeConfig = {
                container: "#d3nome",
                selectedChromosome: 0, // i.e. select the first chromosome

                // define where to get the data from
                // will call with GET params "chr", "start", and "end".
                dataUrl: window.foldatlasConfig.appBaseUrl+"/ajax/genome-browser/transcripts",
                chromosomes: [
                    {% for chromosome in chromosomes %}
                    {
                        id: "{{ chromosome.chromosome_id }}", 
                        length: "{{ chromosome.length }}"
                    },
                    {% endfor %}
                ]
            }

            console.log(window.d3nomeConfig);

            window.d3nome = new D3nome(window.d3nomeConfig);
        });

    </script>

  </head>
  <body>
    <div id="loading-indicator" style="display: none;">
        <img src="{{ settings.static_base_url}}/assets/spinner.gif" />
    </div>

    <div id="progress"></div>

    <div id="header">
        FoldAtlas
    </div>

    <div id="content">

        <!-- this empty div will be filled by d3nome -->
        <div id="d3nome"></div>

        <!-- TODO make this reload the page. Dynamically changing the chromosome is not supported. -->    
        <!-- Select your chromosome:     
        <select id="chromosome-selector">
            {% for chromosome in chromosomes %}
                <option value="{{ chromosome.chromosome_id }}">{{ chromosome.chromosome_id }}</option>
            {% endfor %}
        </select><br /><br /> -->

        <!-- this empty div will be filled by Genoverse -->
        <div id="genoverse"></div>

        <!-- Transcript data is added here -->
        <div id="transcript-data">
            {% if transcript_view is defined %}
                {% include "transcript-view.html" %}
            {% endif %}
        </div>
    </div>
  </body>
</html>
