<div id="structure-json" style="display: none;">{{ structure_view.data_json|safe }}</div>

<h2>Structure</h2>
<div id="structure-container">

	<div id="pca-container">
		<h3><i>In silico</i></h3>
		<div id="pca-container-in-silico" class="pca-container"></div>
		<h3><i>In vivo</i></h3>
		<div id="pca-container-in-vivo" class="pca-container"></div>
	</div>

	<div id="structure-detail">
		<div class="tabs">
	        <div class="tab active" id="structure-tab-diagram" data-ui-id="forna-container">
	        	<i class="fa fa-circle-thin"></i>&nbsp;Structure diagram
	        </div>
	        <div class="tab" id="structure-tab-circle-plot" data-ui-id="circle-plot">
	        	<i class="fa fa-dribbble"></i>&nbsp;Circle plot
	        </div>
	    </div>

		<div id="forna-container">
			<div id="forna-overlay">
				<a id="forna-interact-enable" class="forna-interact button" href="#">Enable Interaction</a>
				<a id="forna-interact-disable" class="forna-interact button" href="#" style="display: none;">Disable Interaction</a>
				<a id="show-dms" class="forna-interact button" href="#">DMS Reactivity</a>
				<a id="show-ribosome-profiling" class="forna-interact button" href="#">Ribosome Profiling</a>			

				<div class="energy">
					<i class="fa fa-fire"></i>
					<span id="forna-energy"><!-- filled with Gibbs free energy --></span>
					kcal/mol
				</div>
			</div>
		</div>

		<div id="circle-plot" style="display: none">
			Sercul plot goze hear
		</div>
	</div>
</div>
