

.alignment-container {
	font-family: Courier New, monospace;
}

.snp {
	background-color: #555;
	color: #fff;
}

.a {
	background-color: #0a0;
}

.t, .u {
	background-color: #00d;
}

.c {
	background-color: #ca0;	
}

.g {
	background-color: #d00;
}
