<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="{{ settings.genoverse_base }}/css/genoverse.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings.genoverse_base }}/css/controlPanel.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings.genoverse_base }}/css/trackControls.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings.genoverse_base }}/css/resizer.css" />
    <link rel="stylesheet" type="text/css" href="{{ settings.genoverse_base }}/css/tooltips.css" />
  </head>
  <body>

    <!-- TODO make this reload the page. Dynamically changing the chromosome is not supported. -->    
    Select your chromosome:     
    <select id="chromosome-selector">
    {% for chromosome in chromosomes %}
        <option value="{{ chromosome.chromosome_id }}">{{ chromosome.chromosome_id }}</option>
    {% endfor %}
   </select><br /><br />

    <div id="genoverse"></div>
    <div id="transcript-data"></div>

    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/lib/jquery.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/lib/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/lib/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/lib/jquery.mousehold.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/lib/jquery.tipsy.js"></script>

    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/lib/Base.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/lib/rtree.js"></script>

    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Genoverse.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track.js"></script>

    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Controller.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Model.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/View.js"></script>

    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/library/Static.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/library/Configurable.js"></script>

    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Controller/Stranded.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Model/Stranded.js"></script>

    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Controller/Sequence.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Model/Sequence.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Model/Sequence/Fasta.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Model/Sequence/Ensembl.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Model/Sequence/DAS.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/View/Sequence.js"></script>

    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Model/SequenceVariation.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Model/SequenceVariation/VCF.js"></script>

    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Model/Gene.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Model/Gene/Ensembl.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/View/Gene.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/View/Gene/Ensembl.js"></script>

    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Model/Transcript.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Model/Transcript/Ensembl.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Model/Transcript/GFF3.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/View/Transcript.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/View/Transcript/Ensembl.js"></script>

    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Model/File.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Model/File/GFF.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/Model/File/BED.js"></script>

    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/library/Chromosome.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/library/File.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/library/File/GFF.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/library/File/GFF3.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/library/File/BED.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/library/File/VCF.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/library/Gene.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/library/HighlightRegion.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/library/Legend.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/library/Scaleline.js"></script>
    <script type="text/javascript" src="{{ settings.genoverse_base }}/js/Track/library/Scalebar.js"></script>

    <!-- bespoke classes go here - order matters! TODO combine into a single file -->
    <script type="text/javascript" src="{{ settings.static_base }}/genoverse-custom/DBTranscript.js"></script>
    <script type="text/javascript" src="{{ settings.static_base }}/genoverse-custom/DBGene.js"></script>
    <script type="text/javascript" src="{{ settings.static_base }}/genoverse-custom/DBGeneView.js"></script>
    <script type="text/javascript" src="{{ settings.static_base }}/genoverse-custom/DBTranscriptView.js"></script>
    <script type="text/javascript" src="{{ settings.static_base }}/genoverse-custom/DBTrack.js"></script>
    <script type="text/javascript">
        window.genoverseConfig = {
            container : '#genoverse',
            width     : 800,
            genome    : {

            {% for chromosome in chromosomes %}
                {{ chromosome.int_id }}: {
                    "size": {{ chromosome.length }},
                    "bands": [
                        {
                            "id": "{{ chromosome.chromosome_id }}",
                            "start": 1,
                            "end": {{ chromosome.length }},
                            "type": "gpos50"
                        }
                    ]
                },
            {% endfor %}

            },
            chr       : 1,
            start     : 1,
            end       : 50000,
            plugins   : [ 'controlPanel', 'karyotype', 'trackControls', 'resizer', 'tooltips', 'fileDrop' ],
            tracks    : [
                Genoverse.Track.Scalebar,
                Genoverse.Track.DBTrack
            ]
        }

        window.browserControllerConfig = {
            staticBase: "{{ settings.static_base }}"
        }

    </script>

    <script type="text/javascript" src="{{ settings.genoverse_base }}/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="{{ settings.static_base }}/rnabrowser/main.js"></script>
  </body>
</html>
