/* 	CSS for RNA structure browser.
	@author Matthew Norris */

body {
	background-color: #17a;
}

#header {
	font-size: 40px;
	text-shadow: 0px 0px 10px #000;
	font-weight: bold;
	font-family: Ubuntu;

	color: #fff;
	width: 900px;
	margin: 0 auto;
	padding: 30px;
}

#content {
	font-size: 16px;
	font-family: Ubuntu;
	background-color: #e0e0e0;
	width: 900px;
	margin: 0 auto;
	padding: 30px;
	border-radius: 10px;
	border: 2px solid #fff;
	box-shadow: 0px 0px 10px #000;
}

h1 {
	font-size: 30px;
	text-align: center;
}

h2 {

	margin-left: -32px;
	margin-right: -32px;
	padding-left: 30px;
	text-shadow: 0px 0px 10px #000;

	color: #fff;
	background-color: #666;
	border-left: 2px solid #777;
	border-right: 2px solid #777;
	line-height: 50px;
	font-size: 20px;
	/*border-bottom: 2px solid #aaa;*/
}

.alignment-container {
	font-family: Ubuntu Mono, Courier New, monospace;
}

.alignment-row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.snp {
	background-color: #555;
	color: #fff;
}

.a {
	background-color: #0a0;
}

.t, .u {
	background-color: #00d;
}

.c {
	background-color: #ca0;	
}

.g {
	background-color: #d00;
}
